.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10%;
  /* background-color: #ffffff; */
  height: 60%;
  width: 20%;
  min-width: 475px;
  min-height: "300px";
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #c7cccb;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 5px 5px 10px;
}
.green{
  background-color: rgb(122, 145, 127);
}
.white{
  background-color: #c7cccb;
}
.driverContainer:first-of-type.App{
  margin-left: 100px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
